@charset "UTF-8";
* {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* default to dark */
:root {
  /* --r-background-color: #112; */
  --r-background-color: #111;
  --r-background-hl-color: #334;
  --r-border-color: #556;
  --r-border-hl-color: #ccd;
  --r-main-color: #fff;
  --r-heading-color: #2cf;
  --r-link-color: #2ae;
  --r-link-color-dark: #059;
  --r-link-color-hover: #8cf;
  --r-selection-background-color: #00a4c9;
  --r-selection-color: #fff;
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-block-margin: 20px;
  --r-heading-margin: 0 auto 20px auto;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-line-height: 1.2;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --r-background-color: #dde;
    --r-background-hl-color: #fff;
    --r-border-color: #aab;
    --r-border-hl-color: #334;
    --r-main-color: #000;
    --r-heading-color: #0ac;
    --r-link-color: #3bf;
    --r-link-color-dark: #2ae;
    --r-link-color-hover: #8cf;
  }
}

:root {
  --code-kleur:  #c00;
  --opvallende-kleur: black;
  --opvallende-achtergrond: #00dfff;
  --starter:   gold;
  --gevorderd: red;
  --expert:    dodgerblue;
  --r-block-margin: 20px;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    /* --r-link-color:  #20afef; */
    --code-kleur:  #f66;
    --opvallende-kleur: white;
    --opvallende-achtergrond: #000;
    --r-block-margin: 20px;
  }
}
@media only print {
  header {
    display: none;
  }
}
@media screen {
  @media not (prefers-reduced-motion: reduce) {
    #wrap{
      opacity: 0;
      min-height: 100%;
      transition: all 0.5s ease-out;
    }
    #loader {
      border:     16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width:  120px;
      height: 120px;
      margin-left: calc((100vw - 140px)/2);
      margin-top:  200px;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  @media (prefers-reduced-motion: reduce) {
    #loader {
      display: none;
    }
  }
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  box-sizing: border-box;
  text-rendering:  optimizeLegibility;
  background-color: black;
}
body {
  color: var(--r-main-color);
  font-size-adjust: 1;
  font: var(--r-block-margin)/1.5 DejaVu Sans, Georgia, sans-serif;
  background-color: var(--r-background-color);
  /* overflow-y: hidden; */
  padding: 0;
  margin:  0;
}
.hljs {
  background-color: var(--r-background-color)!important;
}
.reveal-viewport,
html, body, header, #warn, footer{
  width: var(--slide-width, 960px);
}
@supports (display: flex) {
  body {
    display: flex;
    flex-direction: column;
  }
}
#warn{
  display: none;
  background-color: darksalmon;
  padding: 1rem;
}
header, footer{
  display:   flex;
  flex-wrap: wrap;
  color: var(--r-background-color);
  justify-content: space-between;
  background-color: var(--r-heading-color);
  background-size: var(--r-block-margin) var(--r-block-margin), var(--r-block-margin) var(--r-block-margin), 100% var(--r-block-margin);
  background-repeat: repeat-x;
  padding-left:  1rem;
  padding-right: 1rem;
  offset-anchor: calc(var(--r-block-margin) * -2);
}
body > header {
  justify-content: center;
}
header > * {
  flex-shrink: 0;
  height: 50px;
  margin-top: 5px;
}
header svg#logo{
  max-width:  50px;
  flex-basis: content;
}
header svg#logo text{
  font-size:   20px;
  /* TODO: get a Google font? */
  font-family: DejaVu Sans, Georgia, sans-serif;
  font-weight:  bold;
  font-stretch: ultra-condensed;
}
header svg#logo tspan{
  display: none;
  font-weight: lighter;
}
footer {
  background-image: linear-gradient(135deg, var(--r-background-color) 0%, var(--r-background-color) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(-135deg, var(--r-background-color) 0%, var(--r-background-color) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  /* chromium: small misalignment when using center in stead of left */
  background-position: top left, top left, top left;
  padding-top:    calc(var(--r-block-margin) * 2);
  padding-bottom: 1rem;
}
header {
  background-image: linear-gradient(45deg, var(--r-background-color) 0%, var(--r-background-color) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(-45deg, var(--r-background-color) 0%, var(--r-background-color) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  /* chromium: small misalignment when using center in stead of left */
  background-position: bottom left, bottom left, bottom left;
  padding-bottom: calc(var(--r-block-margin) * 2);
  padding-bottom: 2rem;
}
header > *{ align-self: start; }
footer > *{ align-self: end; }
footer > time {
  display: none;
}
footer a {
  color: var(--r-link-color-dark)
}

div.voorbeeld {
  background-color: var(--r-background-color);
  padding: 0.5rem 0 0.5rem 3rem;
}
nav {
  display: none;
}
main {
  min-height: 400px;
}
@media (prefers-reduced-motion: no-preference) {
  main {
    transition: height 1s ease-out;
  }
}
a { text-decoration: none; color: var(--r-link-color); }
a:focus{ color: var(--r-main-color); }
a:active, a:hover { text-decoration: underline; }

@media screen and (min-width: 260px){
  header svg#logo{
    max-width: 170px;
  }
}
@media screen and (min-width: 600px){
  header svg#logo{
    max-width: 260px;
  }
  footer > time,
  header svg#logo tspan{
    display: initial;
  }
}

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}

.reveal-viewport {
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

/* NOTE: overrides rule from reveal.css */
.reveal .slides {
  text-align: unset!important;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  display: block;
  width: calc(100% - var(--r-block-margin) * 2);
  text-align: center;
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

.reveal p {
  margin: var(--r-block-margin);
  line-height: 1.3;
}

.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin-left: calc(var(--r-block-margin)*2);
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style: none;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.6em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal pre, .scratchblocks, .scratch{
  width: fit-content;
}
.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto clip;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

.reveal a {
  color: var(--r-link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal .controls {
  color: var(--r-link-color);
}

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}

@supports (display: grid) {
  .pair{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
}
.pair > * {
  min-width:  calc(var(--slide-width) / 2 - 10px);
  min-height: calc(var(--slide-width) / 2 - 10px);
}
#wrap .pair a:hover {
  text-decoration: none;
}
/* TODO: rid absolute values */
@keyframes slideup {
  0% {transform: translate(0,34px);}
  100% {transform: translate(0,0);}
}
@keyframes slideright {
  0% {transform: translate(-34px,0);}
  100% {transform: translate(0,0);}
}
@keyframes slideleft {
  0% {transform: translate(34px,0);}
  100% {transform: translate(0,0);}
}
.inline-grid > div{
  line-height: 1;
  text-align:  center;
  font-family: monospace;
  font-size:  50%;
  padding: 5px 0px;
  background-color: transparent;
}
.inline-grid > div:not(.l){
  border: var(--r-border-color) solid 1px;
}
.inline-grid > div.t{
  z-index: 1;
}
.inline-grid > div.t{
  background-color: var(--r-background-hl-color);
  border: var(--r-border-hl-color) solid 1px;
}
.inline-grid > div.sr,
.inline-grid > div.sl,
.inline-grid > div.su{
  animation-duration: 2s;
  animation-delay: 0s;
  /* animation-direction: reverse; */
  /* animation-fill-mode: forwards; */
}
.inline-grid > div.su{
  /* transform: translate(0,34px); */
  animation-name: slideup;
}
.inline-grid > div.sl{
  /* transform: translate(34px,0); */
  animation-name: slideleft;
}
.inline-grid > div.sr{
  /* transform: translate(-34px,0); */
  animation-name: slideright;
}
.inline-grid > div.t.a{
  background-color: var(--r-border-color);
  border: var(--r-main-color) solid 1px;
}
@supports (display: inline-grid) {
  .inline-grid{
    display:inline-grid;
    margin-left:   20px;
    margin-bottom: 40px;
    min-width:  200px;
    min-height: 200px;
    vertical-align: bottom;
  }
  .inline-grid.four{
    grid-template:repeat(4,1fr)/repeat(4,1fr);
  }
  .inline-grid.five{
    grid-template:repeat(5,1fr)/repeat(5,1fr);
  }
  .inline-grid.six{
    grid-template:repeat(6,1fr)/repeat(6,1fr);
  }
}
@supports not (display: inline-grid) {
  .inline-grid{
    display: inline-flex;
    flex-flow: row wrap;
  }
  .inline-grid > *{
    width:  40px;
    height: 40px;
    flex-grow: 1;
  }
}

/* content.css */

#graad {
  width:  50px;
  height: 50px;
}
body.starter #graad{
  background: transparent top left/50px url('scratch-starter.svg');
}
body.gevorderd #graad{
  background: transparent top left/50px url('scratch-gevorderd.svg');
}
body.expert #graad{
  background: transparent top left/50px url('scratch-expert.svg');
}

blockquote p{
  margin: 0;
}
blockquote{
  width:     500px;
  max-width: 100%;
  margin:    1em 0 128px 0;
  padding:   0.5em 1em;
  position:  relative;
  color:     black;
  background:orange linear-gradient(#f9d835, orange);
  border-radius:1em;
}
blockquote:after {
  content:"";
  position:absolute;
  bottom: -128px;
  left:     30px;
  background-image: url('scratch-starter.svg'), url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="orange" stroke="none"><path d="M 0 15 q 14 -10 20 -20 l -5 0 q -7 15 -15 20"/></svg>');
  background-position: bottom 24px left, top right;
  background-size: 64px;
  background-repeat: no-repeat;
  display:block;
  height: 128px;
  width:  128px;
}

li{
  line-height: 1.5;
}
li img{
  vertical-align: middle;
  min-height: initial;
  min-width:  initial;
  height: 4em;
  margin: 0.5em 0;
  width: auto!important;
}
li input[type=checkbox]:checked{
  background: transparent top left/28px url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="28px" height="28px" fill="none" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m1 6c1.8.9 3.7 2.7 4.1 4.4.3-1.9.2-5.8 5.1-9" /></svg>');
  appearance: none;
  position: relative;
  height: 28px;
  width: 28px;
  top: 0.5em;
}

footer > a{
  text-align: center;
  border:  2px solid var(--rand-kleur);
  border-radius: 10px;
  padding: 0.2rem 1rem;
}
footer > a{
  background-color: var(--achtergrond-kleur);
}
footer > a:active{
  background-color: var(--tekst-kleur);
}
footer > a:active,
footer > a:hover{
  border: 2px solid var(--tekst-kleur);
}

em:before{
  content: '“';
}
em:after{
  content: '”';
}

.right{
  display: block;
  position: absolute;
  right: 0;
}
.testen{
  background: no-repeat top left/32px transparent url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.8 3.7c-.4-.2-.9-.1-1.2.2-2 1.6-4.8 1.6-6.8 0-2.3-1.9-5.6-2.3-8.3-1v-.4c0-.6-.5-1-1-1s-1 .4-1 1v18.8c0 .5.5 1 1 1h.1c.5 0 1-.5 1-1v-6.4c1-.7 2.1-1.2 3.4-1.3 1.2 0 2.4.4 3.4 1.2 2.9 2.3 7 2.3 9.8 0 .3-.2.4-.5.4-.9v-9.2c0-.5-.3-.9-.8-1zm-.3 10.2c-2.5 2.1-6.1 2.1-8.6.1-1.1-.9-2.5-1.4-4-1.4-1.2.1-2.3.5-3.4 1.1v-9.7c2.5-1.4 5.5-1.1 7.7.6 2.4 1.9 5.7 1.9 8.1 0h.2l.1.1z" fill="darkgreen"/><path d="m20.6 4.8-.1 9.1v.1c-2.5 2-6.1 2-8.6 0-1.1-.9-2.5-1.4-4-1.4-1.2.1-2.3.5-3.4 1.1v-9.7c2.5-1.4 5.5-1.1 7.7.6 2.4 1.9 5.7 1.9 8.1 0h.2c0 .1.1.1.1.2z" fill="green"/></svg>');
  padding-left: calc(32px + 1rem);
}
code.b{
  display: block;
  margin: auto;
}
code.b.s > span{
  height: 5.5rem;
}
code.b.m > span{
  height: 4.5rem;
}
code.b.l > span{
  height: 3.5rem;
}
code.b.xl > span{
  height: 3rem;
}
code.b.xxl > span{
  height: 2.5rem;
}
.blocks,
.codehilite {
  overflow: auto hidden;
}
.blocks,
.codehilite > pre {
  line-height: 1.1;
}

@media screen and (min-width: 360px){
  code.b{
    display: inline-block;
    margin: initial;
  }
}
@media screen and (min-width: 700px){
  img{
    width: auto;
  }
  .blocks,
  .codehilite {
    margin: 2rem 0 2rem 2rem;
    line-height: 1.2;
  }
}
