        </textarea>
      </section>
    </div>
  </main>
  <footer><time datetime="2022">2022-01-01</time> <a href="https://gitlab.com/cdjeeklo/test">source on GitLab</a></footer>
<script src="client.js"></script>
<script>
scratchblocks.renderMatching('code.scratch', {
  style: 'scratch3',
  languages: ['nl'],
});
scratchblocks.renderMatching("code.b", {
  style: 'scratch3',
  languages: ['nl'],
  inline: true
});
</script>
</body>
</html>
